﻿@model IEnumerable<GigHub.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Whom I'm Following</h2>

<ul>
    @foreach(var artist in Model)
    {
        <li>@artist.Name</li>
    }
</ul>