﻿@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Mine";
}

<h2>My Upcoming Gig</h2>

<ul class="gigs Voffset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="detail">
                <span class="artist">
                    @gig.Venue
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit","Gigs", new{id=gig.Id})">
                        Edit
                    </a>|
                    <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">
                        Cancel
                    </a>
                </div>
            </div>
        </li>
    }
</ul>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-cancel-gig").click(function (e) {
                var link = $(e.target);
                debugger;
                var dialog = bootbox.dialog({
                    title: "Confirm",
                    message: "Are you sure you want to delete this Gigs?",
                    buttons: {
                        no: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/Api/Gigs/" + link.attr("data-gig-id"),
                                    method: "DELETE",
                                })
                                    .done(function () {
                                        debugger;
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove();
                                        })
                                    })
                                    .fail(function () {
                                        alert("Something Failed");
                                    });

                            }
                        },
                    }

                });
            })
        });
    </script>

}