﻿@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
<ul class="gigs Voffset4">
    @foreach (var gig in Model.UpComingGig)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="detail">
                <span class="artist">
                    @gig.Artist.Name
                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">Cancelled</span>
                    }
                    @if (Model.ShowAction)
                    {
                        <button class="btn btn-link js-toggle-Follow" data-user-id="@gig.ArtistId">Follow</button>
                    }
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowAction && !gig.IsCanceled)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>
                }
            </div>
        </li>
    }
</ul>
@section scripts{
    <script>

        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var botton = $(e.target);
                $.post("/api/attendances", { gigId: botton.attr("data-gig-id") })
                    .done(function () {
                        botton.removeClass("btn-default")
                            .addClass("btn-primary")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something Failed")
                    })
            })
        });
        $(".js-toggle-Follow").click(function (e) {
            var botton = $(e.target);
            $.post("/api/Followings", { followeeId: botton.attr("data-user-id") })
                .done(function () {
                    botton.text("Following")
                })
                .fail(function () {
                    alert("Something Failed")
                })
        })
    </script>
}